<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/styles.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="shortcut icon" href="js/favicon.png">

  <!-- JQuery CSS -->
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">


  <title>Song Bud</title>
</head>

<body>
  <!-- <audio controls loop autoplay>
    <source src="js/song.mp3" type="audio/mp3">
    </audio> -->

    <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg" style="background:#346d7e">
      <div class="container">
          <a class="navbar-brand" href="#">
            <img src="js/logo.png" width="160" background= "white">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                 
                  <li class="nav-item">
                      <a class="nav-link scroll-link" href="#listening-room">BACK TO HOME</a>
                  </li>
          
         
              </ul>
          </div>
      </div>
  </nav>

  
    
  <audio id="audiotag1" src="d.mp3" preload="auto"></audio>
  <audio id="audiotag2" src="g.mp3" preload="auto"></audio>
  <audio id="audiotag3" src="/js/UptownFunk.mp3" preload="auto"></audio>
  <audio id="audiotag4" src="/js/song2.mp3" preload="auto"></audio>
  <audio id="audiotag5" src="/js/photograph.mp3" preload="auto"></audio>
  <audio id="audiotag6" src="/js/s.mp3" preload="auto"></audio>
  <div class="chat-container" style="margin-top: 150px;">
    <header class="chat-header">
     
      <h1>Song Bud</h1>
      <a href="index.html" class="btn">Leave Room</a>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fas fa-comments"></i> Room Name:</h3>
        <h2 id="room-name"></h2>
        <h3><i class="fas fa-users"></i> Users</h3>
        <ul id="users">
        </ul>
      </div>
      <div class="chat-messages">
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
        <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>

  <!-- Footer -->
        <footer>
	        <div class="container">
	        	<div class="row">
                    <div class="col-md-3 footer-left">
                    	<p>
                    	 <img src="js/favicon.png" style="width: 47px;">  Made with <i class="fas fa-heart"></i> by rhythMind
                    	</p>
						
                    </div>

					<div class="col-md-5 ctct-inline-form" data-form-id="17a33fd2-6cd9-49e2-91b7-fbfb8643b830">
						<!--<h3 style="color: white;">Subscribe to Our Newsletter</h3>
						<form action="" id="subsFrm" method="POST">
							<input type="email" name="email" id="email" placeholder="music@peaceofmind.com" required><br>
							<input type="text" name="name" id="name" placeholder="Jay Shetty" required>
							<span class="input-group-btn">
							  <button class="btn btn-default" id="subscribeBtn" value="Subscribe Now" type="submit" style="margin-left: 1%;"><i class="fa fa-envelope fa-2x fa-mail" aria-hidden="true"></i></button>
							</span>
						  </form>-->
					</div> 

                    
                    <div class="col-md-3 offset-md-1 footer-right">
     
						<a href="https://github.com/Swatilekha-Roy/rhythMind"><i class="fab fa-github"></i></a>
						<a href="mailto:swatilekha.roy4@gmail.com"><i class="fa fa-envelope"></i></a>
						<a href="https://creator.voiceflow.com/prototype/604e43194c150f00066c4446"><i class="fa fa-robot"></i></a>

						<div class="col footer-bottom">
						<a class="scroll-link" href="#top-content-id"><i class="fas fa-chevron-up"></i></a>
					</div>
                    </div>

                </div>

	        </div>
        </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>

  <!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "a1c11d6c696741c92951eeed04d969e7"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->
</body>

</html>
