<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <title>Camp</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <style type="text/css">
  
.dot{
  width:4px;
  height:4px;
  position:absolute;
  background-color: yellow;
  box-shadow:0px 0px 10px 7px rgba(154, 205, 50, 0.4);
  border-radius: 20px;
  z-index:2;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/firefly_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  overflow-x: hidden;
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  overflow-y: hidden;
  background-repeat: no-repeat;
  height: 100vh;
}
 .firefly-container {
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/firefly_bg.jpg);
   padding: 0;
        margin: 0;
        /*height: 87vh;*/
        height: 100%;
        width: 100%;
        
        background-repeat: no-repeat;
        /*margin: 2% 5% auto 5%;*/
        background-size: 100% 100%;
}

.story-btn {
  position:relative ;
  display: inline-block;
  margin-top: 10px;
  left:210px;
  top: 2px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff3b;
        border-color: #000000;
        cursor: pointer;
  border:double;
  color: black;
  font-family: 'DotGothic16', sans-serif;
  font-weight:600;
  z-index: 201;
}
.story-btn:hover,.rain-btn:active,.rain-btn:focus {
        background-color: #ffffff8a !important;
        border-color: #000000;
        color: #000000;
        font-weight: 800;
        outline: none !important;
        font-weight:600;
      }
      .story-styles {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        text-align: center;
        color: gray;
        position:absolute;
        height: auto;
        width: auto;
        margin: 250px;
        font-size:x-large;
        background-color: transparent;
        z-index: 200;
        /* display: "none";   */
        /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
        }
        .story{
         
 /* Apply animation to this element */	
 -moz-animation: story 25s linear 1;
 -webkit-animation: story 25s linear 1;
 animation: story 25s linear 1;
      }
/* Move it (define the animation) */
@-moz-keyframes story {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes story {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes story {
 0%   { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-140%); /* Browser bug fix */
 -webkit-transform: translateY(-140%); /* Browser bug fix */
 transform: translateY(-140%); 
 }
}
.story:hover {
 -moz-animation-play-state: paused;
 -webkit-animation-play-state: paused;
 animation-play-state: paused;
 }
@keyframes scaleUpDown {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50%,
  90% {
    transform: scaleY(1.1);
  }
  75% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleX(0.95);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: skewX(0) scale(1);
  }
  50% {
    transform: skewX(5deg) scale(0.9);
  }
}
@keyframes particleUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100%;
    transform: scale(0.5);
  }
}
@keyframes glow {
  0%,
  100% {
    background-color: #ef5a00;
  }
  50% {
    background-color: #ff7800;
  }
}
.fire {
  position: absolute;
  top: calc(91% - 40px);
  left: calc(36% - 50px);
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin-left: auto;
  z-index: 20;
  margin-right: auto;
}
.fire-main {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: scaleUpDown 3s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.fire-main .main-fire {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at 10px 0, #d43300 0%, #ef5a00 95%);
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}
.fire-main .particle-fire {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 10px;
  height: 10px;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.fire-right {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: shake 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.fire-right .main-fire {
  position: absolute;
  top: 15%;
  right: -25%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}
.fire-right .particle-fire {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.fire-left {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shake 3s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.fire-left .main-fire {
  position: absolute;
  top: 15%;
  left: -20%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}
.fire-left .particle-fire {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 10%;
  height: 10%;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 3s infinite ease-out 0;
  animation-fill-mode: both;
}
.fire-bottom .main-fire {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 75%;
  height: 75%;
  background-color: #ff7800;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 100% 40%;
  filter: blur(10px);
  animation: glow 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
         
      .rain_sound {
        padding-top: 2%;
        float: right;
        z-index: 200;
        margin-bottom: 10px;
        margin-right: 5%;
      }
      .rain-sound:hover,.rain-sound:active,.rain-sound:focus {
        outline: none;
        border: none;
      }
      .rain-btn {
        border-radius: 2rem;
        margin-left: 5%;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-family: 'DotGothic16', sans-serif;
        border: double;
        font-weight: 600;
        margin-top: 10px;
        cursor: pointer;
        z-index: 200;
        margin-bottom: 2px;
        position: absolute;
        background-color: #ffffff3b;
      }
      .rain-btn:hover,.rain-btn:active,.rain-btn:focus {
        background-color: #ffffff8a !important;
        border-color: #000000;
        color: #000000;
        font-weight: 800;
        outline: none !important;
      }


@media screen and (max-width:700px)
 {
   .rain-btn {
     visibility: hidden;
   }

   .story-btn {
     display: block;
     margin-top: 20%;
   }

   .firefly-container {
      background-size: 120% 100%;
      margin: 0;
      padding: 0;
   }

   .story-styles {
     margin: 3%;
     font-size: 0.8rem;
     -moz-transform:translateY(147%);
      -webkit-transform:translateY(147%);	
      transform:translateY(147%);
   }

   .story{
 /* Apply animation to this element */	
 -moz-animation: story 10s linear 1;
 -webkit-animation: story 25s linear 1;
 animation: story 50s linear 1;
      }

      body {
        background-size: cover;
      }
 }

    </style>
    
  </head>
  <body>
    <button class="rain-btn" onclick="openFullscreen();">Go  Fullscreen</button>
    <audio controls loop autoplay class="rain_sound" >
       <source src="/sounds/firefly_s.mp3" type="audio/mp3">
    </audio>
    <div class="firefly-container" controls id="myvideo">
      <button class="story-btn">Read a story</button>
      <div class="story-styles" id="storyId">
        Yes, this is not a story, you remind yourself yet again.
        <br><br> This is as real and lovely and mesmerizing as it can get,
        <br> this beautiful array of light and dark 
        <br>hugging your screen worn eyes. 
        <br>As you keep staring, one of the fireflies settle right on your nose and blink twice. 
        <br><br>Light. Dark. Light. Dark.
        <br><br> You smile to yourself, is this what heaven is supposed to feel like? 
        <br>Only stars and endless calm. 
        
        <br><br>You know that it’s just for the night, 
        <br>that you would be back in your old life in less than eight hours- 
        <br>but the transition and regret of having to leave is what makes this night even more special. 
        <br><br>The tranquility of being all alone under these millions of light beacons is almost humbling-
        <br> it reminds you how you are just a simple speck of particle in this vast teeming universe. 
        <br><br>The occasional owl hoots into the night while the fire
        <br> burning nearby is slowly dying out, the embers hissing gently. 
        <br><br>Your eyes are tired, they feel like closing in to the calm 
        <br>but your heart is full awake capturing every single moment.
      </div>

      <div class="fire">
        <div class="fire-left">
          <div class="main-fire"></div>
          <div class="particle-fire"></div>
        </div>
        <div class="fire-main">
          <div class="main-fire"></div>
          <div class="particle-fire"></div>
        </div>
        <div class="fire-right">
          <div class="main-fire"></div>
          <div class="particle-fire"></div>
        </div>
        <div class="fire-bottom">
          <div class="main-fire"></div>
        </div>
      </div>
      
      
    </div>

              

    <script type="text/javascript">
        var elem = document.querySelector("#myvideo");
        function openFullscreen() {
          if (elem.requestFullscreen) {
            elem.requestFullscreen();
          } else if (elem.webkitRequestFullscreen) { /* Safari */
            elem.webkitRequestFullscreen();
          } else if (elem.msRequestFullscreen) { /* IE11 */
            elem.msRequestFullscreen();
          }
        }
        // function toggleCheck(){
        //   var st=document.getElementById("storyId");
        //   st.classList.add("story");
        // }
    </script>



      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

<script>
       
var total=40,container=document.querySelector('.firefly-container'),w=window.innerWidth,h=window.innerHeight,Tweens=[],SPs=1;
for (var i=total;i--;){ 
  var Div=document.createElement('div');
  TweenLite.set(Div,{attr:{class:'dot'},x:R(w),y:R(h),opacity:0});
  container.appendChild(Div); Anim(Div);  Tweens.push(Div);
};
function Anim(elm){ 
  elm.Tween=TweenLite.to(elm,R(20)+10,{bezier:{values:[{x:R(w),y:R(h)},{x:R(w),y:R(h)}]},opacity:R(1),scale:R(1)+0.5,delay:R(5),onComplete:Anim,onCompleteParams:[elm]})
};
function R(max){return Math.random()*max};
 
window.addEventListener("resize",resize);
function resize(){w=window.innerWidth;  h=window.innerHeight;};
var button = document.querySelector(".story-btn");
        var playing = false;
        var st=document.getElementById("storyId");
button.addEventListener ("click", function (){
    if ( !playing ) { // If not playing
        
        st.classList.add("story");
        // `this` refers to `button1`
        // `innerText` refers to text content in `button1`
        this.innerText = 'Quit Story'; // `this refers to `button1`
        playing = true;
    } else {
        // clear the animation property
        st.classList.remove("story");
        this.innerText = 'Read a Story';
        playing = false;
    }
});
  </script>



  </body>
</html>
