<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sea</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.png">

    <style type="text/css">

    body {
      overflow-y: hidden;
      overflow-x: hidden;
      background:url(images/sea_bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
      background-attachment: fixed;
      margin: 0;

    }

    .sea-container {
              background:url(/images/sea_bg.jpg);
        padding: 0;
        margin: 0;

        height: 100%;
        width: 100%;
        
        background-repeat: no-repeat;

        background-size: 100% 100%;
      }
 



    .rain_sound {
        padding-top: 1%;
        float: right;
        z-index: 1000;
        position: absolute;
        margin-left: 72%;
        margin-top: 8px;
        outline: none;
        margin-bottom: 10px;
      }

      .rain-sound:hover,.rain-sound:active,.rain-sound:focus {
        outline: none;
        border: none;
      }

      .rain-btn {
        border-radius: 2rem;
        margin-top: 7px;
        margin-left: 5%;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-family: 'DotGothic16', sans-serif;
        border: double;
        font-weight: 600;
        cursor: pointer;
        z-index: 200;
        margin-bottom: 2px;
        position: absolute;
        background-color: #ffffff3b;
      }

      .rain-btn:hover,.rain-btn:active,.rain-btn:focus {
        background-color: #ffffff8a !important;
        border-color: #000000;
        color: #000000;
        font-weight: 800;
        outline: none !important;
      }


.wave {
 
  left:0;
  right:0;
  top:0;
  position: absolute;
  bottom:0;
  z-index: 2;
}

.wave + .wave + .wave{
  z-index: 2;
}



body, html{
	height: 100%;
}

/* code for the sun  */
#sun{
	position: absolute;
	top: 45%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 180px;
	height: 180px;
}
#sun *, #sun *:before, #sun *:after{
	position: absolute;
}

/* code for the rings */
#rings{
	top: 1%;
	left: 50%;
	z-index: 1;
}
#rings div:before, #rings div:after{
	content: "";
	z-index: 2;
	top: 0;
	left: 0;
	height: inherit;
	width: inherit;
	background: inherit;
}
#rings div:before{
	transform: rotate(60deg);
}
#rings div:after{
	transform: rotate(-60deg);
}
#rings div:nth-child(even){
	animation: rotateR 12s infinite linear;
}
#rings div:nth-child(odd){
	animation: rotateL 12s infinite linear;
	transform: rotate(15deg);
}
#rings div:nth-child(1){
	animation-duration: 45s;
	backgrond: rgba(255, 230, 84, 0.5);
	width: 130px;
	height: 130px;
	margin: -100px 0 0 -100px;
}
#rings div:nth-child(2){
	animation-duration: 49s;
	background: rgba(255, 185, 6, 0.5);
	width: 120px;
	height: 120px;
	margin: -95px 0 0 -95px;
}
#rings div:nth-child(3){
	animation-duration: 56s;
	background: rgba(255, 130, 5, 0.5);
	width: 110px;
	height: 110px;
	margin: -90px 0 0 -90px;
}
#ringsv idiv:nth-child(4){
	animation-duration: 93s;
	background: rgba(255, 90, 0, 0.5);
	width: 100px;
	height: 100px;
	margin: -85px 0 0 -85px;
}

/* animations */
@-webkit-keyframes rotateR{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes rotateR{
	from{
		-moz-transform: rotate(0deg);
	}
	to{
		-moz-transform: rotate(360deg);
	}
}
@-ms-keyframes rotateR{
	from{
		-ms-transform: rotate(0deg);
	}
	to{
		-ms-transform: rotate(360deg);
	}
}
@-o-keygrames rotateR{
	from{
		-o-transform: rotate(0deg);
	}
	to{
		-o-transform: rotate(360deg);
	}
}
@keyframes rotateR{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotateL{
	from{
		-webkit-transform: rotate(360deg);
	}
	to{
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes rotateL{
	from{
		-moz-transform: rotate(360deg);
	}
	to{
		-webkit-transform: rotate(0deg);
	}
}
@-ms-keyframes rotateL{
	from{
		-ms-transform: rotate(360deg);
	}
	to{
		-ms-transform: rotate(0deg);
	}
}
@-o-keyframes rotateL{
	from{
		-o-transform: rotate(360deg);
	}
	to{
		-o-transform: rotate(0deg)
	}
}
@keyframes rotateL{
	from{
		transform: rotate(360deg);
	}
	to{
		transform: rotate(0deg);
	}
}

.story-btn {
  position:relative ;
  display: inline-block;
  
  left:200px;
  top: 2px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff3b;
        border-color: #000000;
        cursor: pointer;
  border:double;
  color: black;
  font-family: 'DotGothic16', sans-serif;
  font-weight:600;
  
}
.story-btn:hover,.rain-btn:active,.rain-btn:focus {
        background-color: #ffffff8a !important;
        border-color: #000000;
        color: #000000;
        font-weight: 800;
        outline: none !important;
        font-weight:600;
      }


.story-styles {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        text-align: center;
        color:whitesmoke;
        position:absolute;
        height: auto;
        width: auto;
        margin: 200px;
        font-size:x-large;
        background-color: transparent;
        z-index: 2001;
        /* display: "none";  */
      
         /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
      }
      .story{
 /* Apply animation to this element */	
 -moz-animation: story 25s linear infinite;
 -webkit-animation: story 25s linear infinite;
 animation: story 25s linear infinite;
      }

/* Move it (define the animation) */
@-moz-keyframes story {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes story {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes story {
 0%   { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 
 }
}
.story:hover {
 -moz-animation-play-state: paused;
 -webkit-animation-play-state: paused;
 animation-play-state: paused;
 }

      

    </style>
    
  </head>
  <body>
            <button class="rain-btn" onclick="openFullscreen();">Go  Fullscreen</button>
              <audio controls loop autoplay class="rain_sound" >
                <source src="sounds/sea_s.mp3" type="audio/mp3">
              </audio>
    <div class="sea-container" controls id="myvideo">

      <button class="story-btn" id="storyId" onclick="toggleCheck()">Read a story</button>
      <div class="story-styles">
        Sea shells on the sea shore,
        <br> you keep playing and replaying the tongue twister in your mouth
        <br> while a couple of teenagers cry delightedly before
        <br> thrusting their surfing boards into the water. 
        <br><br> You miss your childhood days almost immediately. 
        <br><br>The glass of lemonade in your left hand is refreshingly icy,
        <br> your skin deliciously tan and the sun is tenderly kissing your feet. 
        <br>The island might be small but it’s a perfect break from your busy schedule- 
        <br>just a long, outstretched moment of rest and tranquility. 
        <br>The palm trees bob their heads with the breeze and 
        <br>they seem to be whispering to each other the ancient secrets of this simple beach.
        <br> The sea is not too choppy, not too gentle- just therapeutic enough. 
        <br>While the slight sea breeze tingles your temples, 
        <br>you open your book to the dog eared page. 
        <br><br>And just like that, the transportation begins- 
        <br>you feel light, warm and your heart hasn’t been this happy for a long, long time. 
        <br><br>And I think it knows it too.

      </div>


      <div id="sun">
        <div id="rings">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="sea">      
        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><defs></defs><path id="feel-the-wave" d=""/></svg>

        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><defs></defs><path id="feel-the-wave-two" d=""/></svg>
      </div>
    </div>




    <script type="text/javascript">

        var elem = document.getElementById("myvideo");
        function openFullscreen() {
          if (elem.requestFullscreen) {
            elem.requestFullscreen();
          } else if (elem.webkitRequestFullscreen) { /* Safari */
            elem.webkitRequestFullscreen();
          } else if (elem.msRequestFullscreen) { /* IE11 */
            elem.msRequestFullscreen();
          }
        }

        function toggleCheck(){
          var st=document.getElementById("storyId");
          st.classList.add("story");
        }
        
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/peacepostman/wavify/master/wavify.js"></script>
    <script type="text/javascript" src="https://rawgit.com/peacepostman/wavify/master/jquery.wavify.js"></script>

    <script>
     var wave1 = $('#feel-the-wave').wavify({
  height: 250,
  bones: 4,
  amplitude: 60,
  color: 'rgb(0, 191, 255)',
  speed: .15
});

var wave2 = $('#feel-the-wave-two').wavify({
  height: 360,
  bones: 3,
  amplitude: 40,
  color: 'rgb(0, 128, 255)',
  speed: .25
});

var wave3 = $('#feel-the-wave-three').wavify({
  height: 420,
  bones: 2,
  amplitude: 30,
  color: 'rgb(0, 64, 255)',
  speed: .25
});





    </script>

  </body>
</html>
